auth.json

mturk-and-gmail.txt

my-own-auth.json

.DS_Store

original_graph.png

PilotA_Data.csv

PilotA_Data2.csv

PilotA_Data3.csv

PilotA_Data4.csv

PilotB_Data.csv

PilotB_Data1.csv

Kouchaki_raw_data.csv

test_raw_data.csv
